<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hangu.framework.system.dao.mapper.ModelMapper">
    <!-- 数据增加映射 -->
    <resultMap id="searchResultMap" type="com.hangu.framework.system.domain.Model">
        <result property="id" column="id" />
        <result property="code" column="code" />
        <result property="name" column="name" />
        <result property="description" column="description" />
        
        <result property="status" column="status" />
        <result property="version" column="version" />
        <result property="createDate" column="create_date" />
        <result property="createBy" column="create_by" />
        <result property="updateBy" column="update_by" />
        <result property="updateDate" column="update_date" />
        <!-- 
        <collection property="resources" javaType="ArrayList" ofType="com.hangu.framework.system.domain.Resource" column="id" select="searchResourcesByModelId" />
     	-->
    </resultMap>
    
    <select id="searchModelByRoleId" resultMap="searchResultMap" parameterType="java.lang.String">
		SELECT model.*    FROM model,r_role_model r        WHERE model.id = r.model_id AND r.role_id = #{value}
    </select>
    
    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id,code,name,description,status,version,create_date,create_by,update_by,update_date
    </sql>
    
    <!-- 新增记录 -->
    <insert id="insert" parameterType="com.hangu.framework.system.domain.Model">
        insert into Model (id,name,description,code,status,version,create_date,create_by,update_by,update_date) 
        	                 values (#{id},#{name},#{description},#{code},#{status},#{version},#{createDate},#{createBy},#{updateBy},#{updateDate})
    </insert>
    
    <!-- 单记录删除 -->
    <delete id="delete" parameterType="java.lang.String">
        delete from Model where id=#{id}
    </delete>
    
    <!-- 批量记录删除 -->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from Model where id in
        <foreach collection="list" item="ids" open="(" separator="," close=")">#{ids}</foreach>
    </delete>
    
    <!-- 单记录更新 -->
    <update id="update" parameterType="com.hangu.framework.system.domain.Model">
        update Model
        <trim prefix="set" suffixOverrides=",">
        	<if test="#{name} != null">
                name =#{name},
            </if>
            <if test="#{description} != null">
                description =#{description},
            </if>
            <if test="#{code} != null">
                code =#{code},
            </if>
        </trim>
        where id=#{id}
    </update>
    
    <!-- 查询记录BY ID -->
    <select id="getById" resultMap="searchResultMap" parameterType="java.lang.String">
        select <include refid="columns" /> from model where id=#{id}
    </select>
    
    <!-- 查询所有记录 -->
    <select id="getAll" resultMap="searchResultMap" parameterType="java.lang.String">
        select <include refid="columns" /> from model
    </select>

    <!-- 动态查询条件 -->
    <sql id="searchConditionSQL">
        <trim prefix="where" prefixOverrides="AND |OR ">
            <if test="name != null">
                and name like '%${name}%'
            </if>
            <if test="code != null">
                and code like '%${code}%'
            </if>
        </trim>
    </sql>
    
    <select id="search" resultMap="searchResultMap" useCache="true" parameterType="com.hangu.framework.system.vo.ModelSearchCondition">
        select <include refid="columns"/> from model <include refid="searchConditionSQL" />
    </select>

    <select id="selectPage" resultMap="searchResultMap" useCache="true" parameterType="com.hangu.framework.system.vo.ModelSearchCondition">
        select <include refid="columns" />
        from model
        <include refid="searchConditionSQL" />
        ORDER  BY create_date DESC
    </select>
    
    <select id="selectPageCount" resultType="long" parameterType="com.hangu.framework.system.vo.ModelSearchCondition">
        select count(id) from model
        <include refid="searchConditionSQL" />
    </select>
    
</mapper>