<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
                "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hangu.emes.dao.mapper.ApplyMapper">

	<insert id="insert" parameterType="com.hangu.emes.entity.Apply">
	                                   
		INSERT INTO
		LEAVE_APPLY(ID,VERSION,PI_ID,PROCESS_LAUNCH_ID,PROCESS_DEPLOY_ID,START_DATE,END_DATE,TYPE,REASON,CREATE_DATE,CREATE_BY,UPDATE_BY,UPDATE_DATE,STATUS)
		VALUES(#{id},0,#{processInstanceId},#{processLaunchId},#{processDeployId},#{startDate},#{endDate},#{type},#{reason},#{createDate},#{createBy},#{updateBy},#{updateDate},#{status})
	</insert>
	<insert id="update" parameterType="com.hangu.emes.entity.Apply">
		UPDATE LEAVE_APPLY
		SET
			PI_ID=#{processInstanceId},PROCESS_LAUNCH_ID=#{processLaunchId},PROCESS_DEPLOY_ID=#{processDeployId},START_DATE=#{startDate},END_DATE=#{endDate},TYPE=#{type},REASON=#{reason},UPDATE_BY=#{updateBy},UPDATE_DATE=#{updateDate},STATUS=#{status}
		WHERE ID=#{id}
	</insert>
	<insert id="delete" parameterType="java.lang.String">
		delete from LEAVE_APPLY where id = #{id}
	</insert>
	<insert id="deleteByIds" parameterType="java.util.List">
		<![CDATA[
            delete from LEAVE_APPLY where id in
        ]]>
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</insert>
	<select id="getById" resultType="com.hangu.emes.entity.Apply" parameterType="java.lang.String">
		SELECT ID id,VERSION version,PI_ID
		processInstanceId,PROCESS_LAUNCH_ID processLaunchId,PROCESS_DEPLOY_ID processDeployId,START_DATE startDate,END_DATE endDate,TYPE type,REASON reason,CREATE_DATE
		createDate,CREATE_BY createBy,UPDATE_BY updateBy,UPDATE_DATE updateDate,STATUS status
		FROM LEAVE_APPLY
		WHERE ID=#{id}
	</select>
	<select id="getAll" resultType="com.hangu.emes.entity.Apply" parameterType="java.lang.String">
		SELECT ID id,VERSION version,PI_ID
		processInstanceId,PROCESS_LAUNCH_ID processLaunchId,PROCESS_DEPLOY_ID processDeployId,START_DATE startDate,END_DATE endDate,TYPE type,REASON reason,CREATE_DATE
		createDate,CREATE_BY createBy,UPDATE_BY updateBy,UPDATE_DATE updateDate,STATUS status
		FROM LEAVE_APPLY
		ORDER BY CREATEDATE DESC
	</select>

	<select id="selectPage" resultType="com.hangu.emes.entity.Apply" useCache="true">
		SELECT ID id,VERSION version,PI_ID
		processInstanceId,PROCESS_LAUNCH_ID processLaunchId,PROCESS_DEPLOY_ID processDeployId,START_DATE startDate,END_DATE endDate,TYPE type,REASON reason,CREATE_DATE
		createDate,CREATE_BY createBy,UPDATE_BY updateBy,UPDATE_DATE updateDate,STATUS status
		FROM LEAVE_APPLY
		WHERE 1=1
		ORDER BY CREATE_DATE DESC
	</select>
	<select id="selectPageCount" resultType="long">
		SELECT COUNT(id) FROM LEAVE_APPLY ORDER BY CREATE_DATE DESC
	</select>

</mapper>